
footer.footer
  .row
    .footer__nav 
      .footer__nav__left
        .footer__nav--1
          img.footer__logo(src=`/logo/logo_light.svg`)
        .footer__nav--2
          ul.footer__nav__list
            li.footer__nav__list__item
              a.footer__nav__list__item__link(href=`/`) Home
            li.footer__nav__list__item
              a.footer__nav__list__item__link(href=`/about`) About 
            li.footer__nav__list__item
              a.footer__nav__list__item__link(href=`/contact`) Contact Us
            li.footer__nav__list__item
              a.footer__nav__list__item__link(href=`/terms`) Terms & Conditions

      .footer__nav__right
        .footer__nav--1
          ul.footer__nav__list
            li.footer__nav__list__item
              a.footer__nav__list__item__link(href=`#`) 
                ion-icon.facebook-icon(name='logo-facebook')
                span.facebook-text Facebook
            li.footer__nav__list__item
              a.footer__nav__list__item__link(href=`#`) 
                ion-icon.twitter-icon(name='logo-twitter')
                span.facebook-text Twitter
            li.footer__nav__list__item
              a.footer__nav__list__item__link(href=`#`) 
                ion-icon.instagram-icon(name='logo-instagram')
                span.facebook-text Instagram
        .footer__nav--2 
          .subscribe
            .subscribe__text Subscribe to our newsletter
            .subscribe__email 
              input.subscribe__email__input(type='text' placeholder='Email Address')
              input.subscribe__email__btn(type='button' value='OK')
      
  .row 
    .creator Designed and Developed by Anuj Sharma!

          
          
          
        
