doctype html
html
  head
    title #{title}
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style.css' type='text/css')

    //##Fevicon
    link(rel="apple-touch-icon" sizes="180x180" href="/images/fevicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/fevicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/fevicon/favicon-16x16.png")
    link(rel="manifest" href="/images/fevicon/site.webmanifest")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    //####

    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet")

  body.preload--transitions
    // Header
    include _header

    // Content
    block content
      h1 Demo

    // Footer
    include _footer

    script(src='/js/bundle.js')
    script(type='module' src='https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js')
