doctype html
html
  head
    title itMatters- India's best fashion Store
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style.css' type='text/css')
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet")

  body.preload--transitions
    // Header
    include _header

    // Content
    block content
      h1 Demo

    // Footer
    include _footer

    script(src='/js/bundle.js')
    script(type='module' src='https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js')
